<!DOCTYPE html>
<html>
  <head>
    <title><%= message %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .panel-heading small{
            color: #ffffff;
        }
    </style>
  </head>
  <body>
  <div class="container-fluid">
      <div class="panel panel-primary">
          <div class="panel-heading"><h3>Agende.med <small>Agendamento da forma certa</small></h3></div>
          <div class="panel-body">
              <nav class="navbar navbar-default" role="navigation">
                  <div ng-include="'menu.html'"></div>
                  <div class="panel panel-info">
                      <div class="panel-body">
                          <div class="text-center">
                              <h1><%= message %></h1>
                              <p><%= officeContacts %></p>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>
  </body>
</html>
