<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li ng-class="{'active' : menu == 'agenda'}" ng-show="showMenu('admin', 'doctor', 'secretary')"><a href="#/agenda">Agenda</a></li>
        <li ng-class="{'active' : menu == 'patients'}" ng-show="showMenu('admin', 'doctor', 'secretary')"><a href="#/pacientes">Pacientes</a></li>
        <li ng-class="{'active' : menu == 'configurations'}" ng-show="showMenu('admin', 'doctor')"><a href="#/configuracao">Configuração</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)" ng-click="userProfile()">Olá {{user.name}}</a></li>
		<li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
	</ul>
</div>