<section>
    <div class="row">
        <div class="col-md-5">
            <label for="birth">Nome</label>
            <input type="text" ng-model="filter.name" class="form-control" placeholder="Nome do paciente"></input>
        </div>

        <div class="col-md-2">
            <label for="birth">Ultima consulta</label>
            <p class="input-group">
                <select ng-model="filter.lastAppointment" class="form-control" ng-options="option.value for option in lastAppointmentOptions" required>
                    <option value=""></option>
                </select>
            </p>
        </div>
    </div>

</section>

<div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Nascimento</th>
				<th>Contato</th>
				<th>Convênio</th>
                <th>Ultima Consulta em</th>
                <th>Ultima notificação em</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="patient in patients">
				<td>{{patient.name}}</td>
				<td>{{patient.birth | date:format="dd/MM/y"}}</td>
				<td>{{patient.contacts.phone}}  / {{patient.contacts.cell}} / {{patient.contacts.email}}</td>
				<td>{{patient.healthCare.name}} - {{patient.healthCare.number}}</td>
                <td><span am-time-ago="patient.metadata.lastAppointment"  title="{{patient.metadata.lastAppointment | date:'dd/MM/yyyy'}}"></span></td>
                <td><span am-time-ago="patient.metadata.lastNotification" title="{{patient.metadata.lastAppointment | date:'dd/MM/yyyy'}}"></span></td>
                <td>
					<button id="btn-edit" ng-click="openEdit(patient)" class="btn btn-primary">Editar</button>
                    <button ng-click="rescue(patient)" class="btn btn-primary">Resgatar</button>
				</td>
            </tr>
			<tr ng-show="patients.length == 0" class="text-center">
				<td colspan="7">Nenhum paciente encontrado</td>
			</tr>
		</tbody>
	</table>
</div>

<pagination total-items="page.total" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="5" ng-change="filtering()"></pagination>

<div id="modal" class="modal" data-show="false">
	<div class="modal-dialog" data-backdrop="false">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Edição paciente {{patient.name}}</h4>
			</div>
			<div class="modal-body">
				<form name="formPatient" novalidate class="simple-form form-horizontal" role="form">
					<div class="form-group">
                        <div class="col-md-10">
                            <label for="patient">Nome *</label>
                            <input type="text" class="form-control" id="patient" placeholder="Nome do paciente"
                                ng-model="patient.name" required ></input>
                        </div>
					</div>
					<div class="form-group">
                        <div class="col-md-10">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                ng-model="patient.contacts.email"></input>
                        </div>
					</div>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="birth">Nascimento dd/mm/yyyy *</label>
                            <p class="input-group">
                                <input id="birth" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="patient.birth" is-open="opened"
                                       ng-required="true" close-text="Close" placeholder="Nascimento"></input>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="phone">Telefone *</label>
							<input type="tel" class="form-control" id="phone" placeholder="Telefone"
								ng-model="patient.contacts.phone" required ></input>
						</div>
						<div class="col-sm-4">
							<label for="cell">Celular (com DDD)</label>
							<input type="tel" class="form-control" id="cell" placeholder="Celular"
								ng-model="patient.contacts.cell"></input>
						</div>
					</div>
					<div class="form-group">
                        <div class="col-md-10">
							<label for="convenio">Convênio</label>
							<input type="text" class="form-control" id="convenio" placeholder="Convênio"
								ng-model="patient.healthCare.name" ></input>
						</div>
                        <div class="col-md-10">
							<label for="convenio">Nr. Carteirinha</label>
							<input type="text" class="form-control" id="convenio" placeholder="Carteirinha"
								ng-model="patient.healthCare.number" ></input>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="dismiss()" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="update()" ng-disabled="formPatient.$invalid">Salvar</button>
			</div>
		</div>
	</div>
</div>

<div id="rescue" class="modal" data-show="false">
    <div class="modal-dialog" data-backdrop="false">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Resgatar paciente {{patient.name}}</h4>
            </div>
            <div class="modal-body">
                <p class="bg-danger" style="padding: 10px;">{{error}}</p>
                <form name="formRescue" novalidate class="simple-form form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Texto *</label>
                            <textarea class="form-control" ng-model="rescueText" required >
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dismiss()" data-dismiss="rescue">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="confirmRescue()" ng-disabled="formRescue.$invalid">Resgatar</button>
            </div>
        </div>
    </div>
</div>